
body {
  text-align: center;
  background-color: #bab4bb;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 400;
}

footer {
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 200;
  background-color: #683A5E;
  color: white;
  text-align: center;
  position: relative;;
}

.produce {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.table-heading {
  text-align: left;
  padding-left: 20px;
}

table {
  align-items: center;
}

tr:hover {
  background-color: rgb(211,211,211);
}

#fruit {
  color: rgb(186,0,187);
}

#veggies {
  color: rgb(186,0,0);
}

.contact-links {
  color: white;
}

.my-container {
  position: relative;
  overflow: hidden;
}

.my-container h1 {
    padding: 200px;
    position: relative;
    z-index: 2;
}
.my-container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    opacity: 0.3;
}
