<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<header>
  <div>
    <h2 class = "page-title">{{ site.title }}</h2>
    <nav>
      <a class = "nav-links" href="/">Home</a>
      <a class = "nav-links" href="/about/about_me.html">About Me</a>
    </nav>
  </div>
</header>
<body class = "my-container">
  <div class="container">
